//fields

// normalize
$field-width:       300px !default;
$field-padding:     15px !default;
$field-margin:      10px !default;

// animation
$field-animation-dur:   400ms;
$field-animation-base:  all $field-animation-dur ease-in-out;
$field-animation-fast:  all ($field-animation-dur / 2) ease-in-out;
$field-animation-slow:  all ($field-animation-dur * 2) ease-in-out;
