//fields

// normalize
$field-width:       300px !default;
$field-padding:     15px !default;
$field-margin:      10px !default;

//colors
$field-primary:     #34495e !default;

// animation
$field-animation-dur:   400ms !default;
$field-animation-type:  cubic-bezier(0.960, 0.035, 0.190, 0.850) !default;
$field-animation-base:  all $field-animation-dur $field-animation-type;
$field-animation-fast:  all ($field-animation-dur / 2) $field-animation-type;
$field-animation-slow:  all ($field-animation-dur * 2) $field-animation-type;

$field-animation-bounce:  cubic-bezier(0.575, 0.010, 0.000, 1.455);
$field-animation-bounce-base:  all $field-animation-dur $field-animation-bounce;
$field-animation-bounce-fast:  all ($field-animation-dur / 2) $field-animation-bounce;
$field-animation-bounce-slow:  all ($field-animation-dur * 2) $field-animation-bounce;

//label
$field-label-top-position:    5px !default;
$field-label-position:  ($field-margin * 2);
$field-label-width:     calc(100% - #{$field-label-position});
$field-label-height:    calc(100% + #{$field-label-top-position});
$field-label-bottom-position: 20px !default;
$field-label-top-to-bottom:   55px !default;


/**
  * Animationtypes
  */

// normal
$field-normal-label-offset:       0px !default;
$field-normal-label-top:          $field-label-top-to-bottom;
$field-normal-label-top-color:    white !default;
$field-normal-label-font-size:    14px !default;

//collapse
$field-collapse-label-top:        25px !default;
$field-collapse-label-fontsize:   14px !default;
