.css-field{

  position: relative;
  display: inline-block;
  width: 100%;
  max-width: $field-width + ( $field-margin * 2 );

  input {
    width: 100%;
    max-width: $field-width;
    margin: $field-margin;
    padding: $field-padding;
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
  }

  input:focus {
    outline: none;
  }

  label {
    position: absolute;
    left: $field-margin;
    margin-top: -$field-label-top-position;
    top: 0;
    width: $field-label-width;
    z-index: 0;
    transition: $field-animation-base;
    height: $field-label-height;

    .label-text {
      transition: $field-animation-base;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .label-text:before,
    .label-text:after {
      position: absolute;
      left: 0;
      top: 0;
      content: attr(data-content);
      opacity: 0;
      overflow: hidden;
    }
  }

  label:before {
    content: "";
    transition: $field-animation-base;
    position: absolute;
    background: $field-primary;
    width: 0;
    height: 2px;
    top: 0;
    left: 0;
  }
  label:after {
    content: "";
    transition: $field-animation-base;
    position: absolute;
    background: $field-primary;
    height: 2px;
    bottom: $field-label-bottom-position;
    left: 0;
    width: 100%;
  }
}

.css-field-wrap {
  margin: 0 -#{$field-margin};
}

//normal
.css-field.field-normal {
  label:after{
    width: 0;
  }
  label:before {
    width: 100%;
    top: $field-normal-label-top;
    background: $field-normal-label-top-color;
  }
  input:focus + label:after{
    width: 100%;
  }

  input:focus + label > .label-text {
    top: -$field-normal-label-offset;
    font-size: $field-normal-label-font-size;
  }
}

// collapse
.css-field.field-collapse {
  label:before{
    opacity: 0;
    width: 100%;
    top: $field-label-top-to-bottom;
  }

  input:focus + label:before {
    opacity: 1;
    top: $field-collapse-label-top;
  }

  label > .label-text {
    transition: left $field-animation-dur $field-animation-type 0s, transform $field-animation-dur $field-animation-type 0s, font-size $field-animation-dur $field-animation-type $field-animation-dur;
  }

  input:focus + label > .label-text {
    transition: left $field-animation-dur $field-animation-type $field-animation-dur, transform $field-animation-dur $field-animation-type $field-animation-dur, font-size $field-animation-dur $field-animation-type 0s;
    font-size: $field-collapse-label-fontsize;
    left: 0;
    transform: translateX(0);
  }

  // bounce
  .css-field.field-bounce {
    label:before {
      top: $field-label-top-to-bottom;
    }

    label {
      color: transparent;
      .label-text:before,
      .label-text:after {
        color: red;
        opacity: 1;
      }

      .label-text:before {
        left: -200px;
      }
    }
  }
}
