.css-field{

  position: relative;
  display: inline-block;
  width: 100%;
  max-width: $field-width + ( $field-margin * 2 );

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="number"],
  input[type="search"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"] {
    width: 100%;
    max-width: $field-width;
    margin: $field-margin;
    padding: $field-padding;
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus {
    outline: none;
  }

  label {
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 0;
    transition: $field-animation-base;
  }

  label:before {
    content: "";
    transition: $field-animation-base;
    position: absolute;
  }
  label:after {
    content: "";
    transition: $field-animation-base;
    position: absolute;
  }
}

.css-field-wrap {
  margin: 0 -#{$field-margin};
}

//normal
.css-field.field-normal {
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus {

  }

  input[type="text"]:focus + label,
  input[type="email"]:focus + label,
  input[type="url"]:focus + label,
  input[type="tel"]:focus + label,
  input[type="number"]:focus + label,
  input[type="search"]:focus + label,
  input[type="range"]:focus + label,
  input[type="date"]:focus + label,
  input[type="month"]:focus + label,
  input[type="week"]:focus + label,
  input[type="time"]:focus + label,
  input[type="datetime"]:focus + label,
  input[type="datetime-local"]:focus + label,
  input[type="color"]:focus + label {
    
  }
}
