.css-field{

  position: relative;
  display: inline-block;
  width: 100%;
  max-width: $field-width + ( $field-margin * 2 );

  input {
    width: 100%;
    max-width: $field-width;
    margin: $field-margin;
    padding: $field-padding;
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
  }

  input:focus {
    outline: none;
  }

  label {
    position: absolute;
    text-align: center;
    left: $field-margin;
    margin-top: -$field-label-top-position;
    top: 0;
    width: $field-label-width;
    z-index: 0;
    transition: $field-animation-base;
    height: $field-label-height;
  }

  label:before {
    content: "";
    transition: $field-animation-base;
    position: absolute;
    background: $field-primary;
    width: 0;
    height: 2px;
    top: 0;
    left: 0;
  }
  label:after {
    content: "";
    transition: $field-animation-base;
    position: absolute;
    background: $field-primary;
    width: 0;
    height: 2px;
    bottom: $field-label-bottom-position;
    left: 0;
  }
}

.css-field-wrap {
  margin: 0 -#{$field-margin};
}

//normal
.css-field.field-normal {
  label:before {
    width: 100%;
    top: $field-normal-label-top;
    background: $field-normal-label-top-color;
  }
  label:after{
    bottom: ($field-normal-label-offset * 2);
  }
  input:focus + label:after{
    width: 100%;
    bottom: $field-normal-label-offset;
  }
  input:focus + label:before {
    top: ($field-normal-label-top + $field-normal-label-offset);
  }

  input:focus + label {
    top: -$field-normal-label-offset;
    font-size: $field-normal-label-font-size;
  }
}

// collapse
.css-field.field-collapse {
  label:after{
    width: 100%;
  }

  label:before{
    width: 100%;
    top: $field-label-top-to-bottom;
  }

  input:focus + label:before {
    top: -5px;
  }
}
